<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item menuClose *ngFor="let item of items_kat" (click)="bukaSubkategori(item.ID_Jenis)">
        {{item.Jenis_Produk}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-header>
    <ion-toolbar>
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
          </button>
      <ion-buttons end>
        <button ion-button icon-only (click)="keHalPencarian()">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only (click)="cekKeranjang()">
          <ion-icon name="cart"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only (click)="cekTransaksi()">
          <ion-icon name="card"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only (click)="presentPopover()">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>DagangKita</ion-title>
      <!--<ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="cart"></ion-icon>
        </button>
      </ion-buttons>-->
    </ion-toolbar>
  </ion-header>

<ion-content class="grid-basic-page">
    <!-- slider -->
    <ion-slides *ngIf="items_slider && items_slider.length" autoplay="3000" loop="true" speed="500">
      <ion-slide *ngFor="let item of items_slider">
          <img [src]="item.Gambar_Ikln">
          <h6>{{item.Judul_Ikln}} - {{item.Pemilik_Ikln}}</h6>
      </ion-slide>
    </ion-slides>
    <!-- end slider -->
  
    <!-- produk unggulan -->
    <div class="wrapper">
      <div class="box" *ngFor="let item of items_produk" (click)="keHalDetailPdk(
        item.ID_Produks,
        item.Nama_Produk, 
        item.Nama_UKM, 
        item.No_HP, 
        item.Harga1,
        item.Harga2,
        item.Stok,
        item.Gambar_1, 
        item.Gambar_2, 
        item.Gambar_3, 
        item.Gambar_4, 
        item.Bahan_Produk,
        item.Alamat_UKM,
        item.lat,
        item.lon,
        item.link_share
        )">
          <ion-card>
            <img [src]="item.Gambar_1">
            <div class="padding">
                <h5>{{item.Nama_Produk}}</h5>
                <small><b>{{item.Nama_UKM}}</b></small>
            </div>
          </ion-card>
      </div>
    </div>
    <!-- end produk unggulan -->
    
    <!-- pelaku usaha unggulan -->
    <ion-slides *ngIf="items_ukm && items_ukm.length" autoplay="3000" loop="true" speed="500">
      <ion-slide *ngFor="let item of items_ukm" (click)="keHalDetailUKM(
        item.ID_Pemilik, 
        item.Nama_UKM, 
        item.Nama_Pemilik, 
        item.Alamat_UKM, 
        item.No_HP, 
        item.Email_UKM,
        item.Logo_UKM, 
        item.Deskripsi_UKM,
        item.lat, 
        item.lon
        )">
          <ion-card>
            <ion-item>
              <ion-thumbnail item-start>
                <img [src]="item.Logo_UKM">
              </ion-thumbnail>
              <h2>{{item.Nama_UKM}}</h2>
              <h3><ion-icon name="call"></ion-icon> {{item.No_HP}}</h3>
              <p><ion-icon name="pin"></ion-icon> {{item.Alamat_UKM}}</p>
            </ion-item>
          </ion-card>
      </ion-slide>
    </ion-slides>
    <!-- end pelaku usaha unggulan -->
  
    <!-- sponsor -->
    <ion-row>
        <ion-item no-lines>
        <ion-scroll scrollX="true" scroll-avatar>
            <div>
              <a *ngFor="let item of items_spnsr" href="{{item.Iling_Partner}}"><img [src]="item.Logo_Partner" alt="{{item.Nam_Partner}}" class="scroll-item"></a>
            </div>
        </ion-scroll>
        </ion-item>
      </ion-row>
    
    <!--<ion-slides *ngIf="items_spnsr && items_spnsr.length" autoplay="3000" loop="true" speed="500">
      <ion-slide *ngFor="let item of items_spnsr">
          <ion-card>
            <ion-item>
                <a href="item.Iling_Partner"><img [src]="item.Logo_Partner" alt="item.Nam_Partner"></a>
            </ion-item>
          </ion-card>
      </ion-slide>
    </ion-slides>-->
    <!-- end sponsor -->
      
</ion-content>
